# Dependencies & Build
node_modules/
dist/
build/

# Environment Variables & Secrets
.env

# Terraform State Files
*.tfstate
*.tfstate.backup
.terraform/
terraform/terraform.tfvars

# Ansible & Vagrant Local Files
.vagrant/
vars.yml
vault.yml

# Editor Settings
.vscode/
